form{
    margin: 0 auto;
    width: 300px;
    display: block;
}
form div{
    padding: 5px 0;
}

form label{
    display: block;
    padding: 10px 0;
}
form input[type=text]{
    width: 100%;
    padding: 5px;
}