.row{
    box-sizing: border-box;
    display: flex;
    align-items: center;
}
.row:hover{
    border-radius: 3px;
    background: #eee;
}
div{
    padding: 5px 0;
}
.completed{
    color: #ddd;
    text-decoration: line-through;
}
.title{
    display: flex;
    width: 50%;
    padding: 0 5px;
}
.price{
    width: 15%;
    padding: 0 5px;
}
.quantity{
    width: 10%;
    padding: 0 5px;
}
.completed .total{
    color: #ddd;
}
.total{
    width: 15%;
    font-weight: bolder;
    color: green;
    padding: 0 5px;
}
.actions{
    width: 10%;
    text-align: center;
    box-sizing: border-box;
    padding: 0 5px;
}
.actions button{
    border: none;
    font-size: 12px;
    background-color: red;
    color: white;
    padding: 5px;
    width: 100%;
    box-sizing: border-box;
}
.actions button:hover{
    background-color: darkred;
}

@media screen and (max-width: 480px){

    .title{
        min-width: 30%;
    }
    .price,  .total{
        min-width: 15%;
        font-size: 12px;
    }
    .quantity{
        min-width: 5%;
        font-size: 12px;
    }

    .actions{
        width: 20%;
        font-size: 10px;
    }
}